<#include "/admin/inc/page.html">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章 - UnaBoot</title>
    <link rel="icon" href="${una}/ub-admin/img/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="${una}/ub-admin/img/favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="${una}/ub-admin/plugin/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="${una}/ub-admin/css/font-awesome.css">
    <link rel="stylesheet" href="${una}/ub-admin/css/ionicons.css">
    <link rel="stylesheet" href="${una}/ub-admin/css/adminlte.css">
    <link rel="stylesheet" href="${una}/ub-admin/css/unaboot-admin.css">
    <link rel="stylesheet" href="${una}/ub-admin/plugin/layer/skin/default/layer.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
</head>
<body class="sidebar-mini layout-fixed layout-navbar-fixed text-md <!--sidebar-collapse-->">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <#include "/admin/inc/header.html">
        </nav>
        <aside class="main-sidebar sidebar-dark-primary ">
            <#include "/admin/inc/aside.html">
        </aside>
        <div class="content-wrapper bg-gray-custom">
            <div class="content-header pb-0">
                <div class="row mb-2">
                    <div class="col-12">
                        <h4 class="ml-2 mb-0 text-dark">文章 <a href="${una}/admin/posts/create" class="btn btn-sm btn-outline-primary">写文章</a></h4>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container-fluid">
                    <!--条件查找-->
                    <div class="row text-sm">
                        <div class="col-12">
                            <div class="pull-left post-select">
                                <a href="${una}/admin/posts/" class="post-current">全部<span class="count">（${total}）</span></a> |
                                <a href="${una}/admin/posts/actives" >已发布<span class="count">（${published}）</span></a>
                            </div>
                        </div>
                    </div>
                    <!--过滤选项栏-->
                    <@shiro.hasRole name="admin">
                        <div class="row text-sm mt-1">
                            <div class="col-12">
                                <form class="form-inline form-row">
                                    <input name="key" id="key" placeholder="关键词" class="form-control form-control-sm mb-2 mr-sm-2">
                                    <select class="form-control form-control-sm mb-2 mr-sm-2" id="userId" name="userId">
                                        <option value="-10" style="display: none">所有用户</option>
                                        <#if users?? && users?size gt 0>
                                            <#list users as user>
                                                <option value="${user.id}">
                                                    <#if user.id == profile.id>
                                                        我自己
                                                    <#else>
                                                        ${user.nickname!user.username}
                                                    </#if>
                                                </option>
                                            </#list>
                                        </#if>
                                    </select>
                                    <select class="form-control form-control-sm mb-2 mr-sm-2" id="category" name="category">
                                        <option value="-10"  style="display: none;">所有分类栏目</option>
                                        <#if categories?? && categories?size gt 0>
                                            <#list categories as category>
                                                <option value="${category.id}">${category.name}</option>
                                            </#list>
                                        </#if>
                                    </select>
                                    <select class="form-control form-control-sm mb-2 mr-sm-2" id="status" name="status">
                                        <option value="-10"  style="display: none;">所有状态</option>
                                        <option value="-1">草稿</option>
                                        <option value="0">审核中</option>
                                        <option value="2">发布中</option>
                                        <option value="1">已发布</option>
                                    </select>
                                    <select class="form-control form-control-sm mb-2 mr-sm-2" id="style" name="style">
                                        <option value="-1"  style="display: none;">所有类型</option>
                                        <option value="0">文章</option>
                                        <option value="1">文档</option>
                                    </select>
                                    <button type="button" class="btn btn-sm btn-primary ml-2 mb-2 filter-btn"> 筛选</button>
                                </form>
                            </div>
                        </div>
                    </@shiro.hasRole>
                    <!--数据列表-->
                    <div class="row text-sm mt-1">
                        <div class="col-12">
                            <table class="table post-datatable table-striped table-hover" style="border: 1px solid #ddd">
                                <thead>
                                    <tr class="bg-white">
                                        <td width="35%">标题</td><td width="10%">封面</td><td>作者</td><td>分类</td><td>标签</td><td>日期</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <#if data.content?? && data.content?size gt 0>
                                        <#list data.content as post>
                                            <tr>
                                                <td>
                                                    <#if post.status == -1>
                                                        <span class="text-secondary">[草稿]</span>
                                                    <#elseif post.status == 0>
                                                        <@shiro.hasRole name="admin">
                                                            <span class="text-danger">[等待审核]</span>
                                                        </@shiro.hasRole>
                                                        <@shiro.hasRole name="editor">
                                                            <span class="text-danger">[审核中]</span>
                                                        </@shiro.hasRole>
                                                    <#elseif post.status == 2>
                                                        <span class="text-yellow">[发布中...]</span>
                                                    <#else>
                                                        <span class="text-green">[已发布]</span>
                                                    </#if>
                                                    <#if post.source == 0>
                                                        <span class="tag tag-blue">原创</span>
                                                    </#if>
                                                    <#if post.status == 1 || post.status == 2>
                                                        <#if post.stick == true>
                                                            <span class="tag tag-red">置顶</span>
                                                        </#if>
                                                        <#if post.recommend == true>
                                                            <span class="tag tag-blue">推荐</span>
                                                        </#if>
                                                    </#if>
                                                    <a href="javascript:void(0);">
                                                        ${post.title}
                                                    </a>
                                                    <div class="row-actions">
                                                        <#if post.status == -1>
                                                            <#if post.userId == profile.id>
                                                                <span class="edit">
                                                                    <a href="${una}/admin/posts/${post.id}"><i class="fa fa-edit"></i>编辑</a> |
                                                                </span>
                                                                <span class="submit">
                                                                    <a href="javascript:void(0);" aria-id="${post.id}"><i class="fa fa-send-o"></i>发布</a> |
                                                                </span>
                                                                <span class="trash">
                                                                    <a href="javascript:void(0);" aria-id="${post.id}"><i class="fa fa-trash-o"></i>删除</a>
                                                                </span>
                                                            </#if>
                                                        </#if>
                                                        <#if post.status == 0>
                                                            <#--等待审核-->
                                                            <@shiro.hasRole name="admin">
                                                                <span class="edit">
                                                                    <a href="${una}/admin/posts/${post.id}"><i class="fa fa-edit"></i>编辑</a> |
                                                                </span>
                                                                <span class="submit">
                                                                    <a href="javascript:void(0);" aria-id="${post.id}"><i class="fa fa-send-o"></i>发布</a> |
                                                                </span>
                                                                <#if post.userId != profile.id>
                                                                    <span class="reject">
                                                                        <a href="javascript:void(0);" aria-id="${post.id}"><i class="fa fa-undo"></i>驳回</a> |
                                                                    </span>
                                                                </#if>
                                                            </@shiro.hasRole>
                                                            <@shiro.hasRole name="editor">
                                                                <#if post.userId == profile.id>
                                                                    <span class="revoke">
                                                                        <a href="javascript:void(0);" aria-id="${post.id}"><i class="fa fa-undo"></i>撤回</a>
                                                                    </span>
                                                                </#if>
                                                            </@shiro.hasRole>
                                                        </#if>
                                                        <#if post.status == 1>
                                                            <span class="undo">
                                                                <a href="javascript:void(0);" aria-id="${post.id}"><i class="fa fa-undo"></i>撤消</a>
                                                            </span>
                                                        </#if>
                                                    </div>
                                                </td>
                                                <td>
                                                    <#if post.thumb?? && post.thumb != "">
                                                        <img src="${post.thumb}" class="img-fluid post-thumb">
                                                    <#else>
                                                        <img src="${una}/ub-admin/img/thumb.jpg" class="img-fluid post-thumb">
                                                    </#if>

                                                </td>
                                                <td>
                                                    <a href="javascript:void(0)">
                                                        <#if post.userId == profile.id>
                                                            我自己
                                                        <#else>
                                                            ${post.author}
                                                        </#if>
                                                    </a>
                                                </td>
                                                <td>
                                                    <#if post.category??>
                                                        <span class="tag tag-red">${post.category.name}</span>
                                                    <#else>
                                                        <span class="tag tag-red">Uncategoried</span>
                                                    </#if>
                                                </td>
                                                <td>
                                                    <#if post.tags?? && post.tags?size gt 0>
                                                        <#list post.tags as tag>
                                                            <span class="tag tag-blue">${tag.name}</span>
                                                        </#list>
                                                    </#if>
                                                </td>
                                                <td>
                                                    <#if post.status == -1>
                                                        创建于<br>
                                                    <#elseif post.status == 0>
                                                        审核中<br>
                                                    <#else>
                                                        已发布<br>
                                                    </#if>
                                                    <span class="post-time"><i class="fa fa-calendar-o"></i> ${post.createTime?string("yyyy-MM-dd HH:ss")}</span>
                                                </td>
                                            </tr>
                                        </#list>
                                    <#else>
                                        <tr><td colspan="6" class="text-center">暂无任何文章</td></tr>
                                    </#if>
                                </tbody>
                                <tfoot>
                                    <tr class="bg-white">
                                        <td width="35%">标题</td><td width="10%">封面</td><td>作者</td><td>分类</td><td>标签</td><td>日期</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!--分页按钮-->
                    <div class="row text-sm mt-1">
                        <#if data?? && data.content?size gt 0 && data.totalPages gt 1>
                            <div class="col-12">
                                <nav aria-label="..." class="pull-right">
                                    <@pagination una+"/admin/posts/"+(urlParam!'') data 9/>
                                </nav>
                            </div>
                        </#if>
                    </div>
                </div>
            </div>
        </div>
        <footer class="main-footer">
            <#include "/admin/inc/footer.html">
        </footer>
    </div>
    <script src="${una}/ub-admin/plugin/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="${una}/ub-admin/plugin/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="${una}/ub-admin/js/adminlte.js" type="text/javascript"></script>
    <script src="${una}/ub-admin/plugin/layer/layer.js" type="text/javascript"></script>
    <script src="${una}/ub-admin/js/unaboot-admin.core.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(".filter-btn").on("click",function(){
           var key = $("input[name=key]").val();
           var userId =$("select[name=userId] option:selected").val();
           var category = $("select[name=category] option:selected").val();
           var status = $("select[name=status] option:selected").val();
           var style = $("select[name=style] option:selected").val();
           var param = "";
           if(key != null && key !== ""){
               param+="&key="+key;
           }
           if(userId != null && userId > 0){
               param+="&userId="+userId;
           }
           if(category != null && category > 0){
               param+="&category="+category;
           }
           if(status != null && status > -10){
               param+="&status="+status;
           }
           if(style != null && style > -1){
               param+="&style="+style;
           }
           if(param.length >0){
               param = param.substring(1,param.length);
               window.location.href = "${una}/admin/posts/?"+param;
           }else{
               window.location.href = "${una}/admin/posts/";
           }
        });
        $(".submit a").on("click",function(){
            var id = $(this).attr("aria-id");
            if(id == null || typeof(id) == 'undefined' ){
                return false;
            }else{
                layer.open({
                    type:2,
                    title:"<i class=\"fa fa-send-o\"></i> 发布文章",
                    shadeClose:false,
                    shade:0.4,
                    offset:['55px'],
                    area:['550px','500px'],
                    content:'${una}/admin/posts/'+id+'/publish',
                    resize:false,
                    anim:1
                });
            }

        });
        /**
         * 删除文章
         */
        $(".trash a").on("click",function(){
            var id = $(this).attr("aria-id");
            if(id == null || typeof(id) == 'undefined' ){
                return false;
            }else{
                layer.alert("确定删除这篇文章吗？该操作不可逆",{
                    title:"<i class='fa fa-info-circle'></i> 提示",
                    icon:0,
                    btn:['是(Y)','否(N)'],
                    offset:['55px'],
                    shadeClose: false,
                    shade:[0.4,'#fff'],
                    anim: 1
                },function(){
                    var load = layer.load(2,{shade:[0.4,'#f0f0f0']});
                    $.ajax({
                        type:'DELETE',
                        url:"${una}/admin/posts/"+id,
                        success:function(){
                            layer.close(load);
                            layer.alert("当前操作已成功执行!",{
                                title:"<i class='fa fa-info'></i> 提示",
                                icon:1,
                                shade:[0.4,"#fff"],
                                shadeClose:false,
                                time:0,
                                btn:['OK'],
                                yes:function(index){
                                    layer.close(index);
                                    window.location.href="${una}/admin/posts/?offset=${data.number+1}";
                                }
                            });
                        },
                        error:function(){
                            layer.close(load);
                            layer.alert("当前操作失败!请稍后再试。",{
                                title:"<i class='fa fa-info'></i> 提示",
                                icon:1,
                                shade:[0.4,"#fff"],
                                shadeClose:false,
                                time:0,
                                btn:['Close'],
                                yes:function(newIndex){
                                    layer.close(newIndex);
                                }
                            });
                        }
                    });
                },function(index){
                    layer.close(index);
                });
            }
        });
        /**
         * 驳回
         */
        $(".reject a").on("click",function(){
            var id = $(this).attr("aria-id");
            if(id == null || typeof(id) == 'undefined' ){
                return false;
            }else{
                layer.alert("确定驳回该文章的发布请求吗？",{
                    title:"<i class='fa fa-info-circle'></i> 提示",
                    icon:0,
                    btn:['是(Y)','否(N)'],
                    offset:['55px'],
                    shadeClose: false,
                    shade:[0.4,'#fff'],
                    anim: 1
                },function(){
                    var load = layer.load(2,{shade:[0.4,'#f0f0f0']});
                    $.ajax({
                        type:'PUT',
                        url:"${una}/admin/posts/reject/"+id,
                        success:function(){
                            layer.close(load);
                            layer.alert("当前操作已成功执行!",{
                                title:"<i class='fa fa-info'></i> 提示",
                                icon:1,
                                shade:[0.4,"#fff"],
                                shadeClose:false,
                                time:0,
                                btn:['OK'],
                                yes:function(index){
                                    layer.close(index);
                                    window.location.href="${una}/admin/posts/?offset=${data.number+1}";
                                }
                            });
                        },
                        error:function(){
                            layer.close(load);
                            layer.alert("当前操作失败!请稍后再试。",{
                                title:"<i class='fa fa-info'></i> 提示",
                                icon:1,
                                shade:[0.4,"#fff"],
                                shadeClose:false,
                                time:0,
                                btn:['Close'],
                                yes:function(newIndex){
                                    layer.close(newIndex);
                                }
                            });
                        }
                    });
                },function(index){
                    layer.close(index);
                });
            }
        });
        /**
         * 撤回
         */
        $(".revoke a").on("click",function(){
            var id = $(this).attr("aria-id");
            if(id == null || typeof(id) == 'undefined' ){
                return false;
            }else{
                layer.alert("你是否确定撤回本次发布请求？",{
                    title:"<i class='fa fa-info-circle'></i> 提示",
                    icon:0,
                    btn:['是(Y)','否(N)'],
                    offset:['55px'],
                    shadeClose: false,
                    shade:[0.4,'#fff'],
                    anim: 1
                },function(){
                    var load = layer.load(2,{shade:[0.4,'#f0f0f0']});
                    $.ajax({
                        type:'PUT',
                        url:"${una}/admin/posts/revoke/"+id,
                        success:function(){
                            layer.close(load);
                            layer.alert("当前操作已成功执行!",{
                                title:"<i class='fa fa-info'></i> 提示",
                                icon:1,
                                shade:[0.4,"#fff"],
                                shadeClose:false,
                                time:0,
                                btn:['OK'],
                                yes:function(index){
                                    layer.close(index);
                                    window.location.href="${una}/admin/posts/?offset=${data.number+1}";
                                }
                            });
                        },
                        error:function(){
                            layer.close(load);
                            layer.alert("当前操作失败!请稍后再试。",{
                                title:"<i class='fa fa-info'></i> 提示",
                                icon:1,
                                shade:[0.4,"#fff"],
                                shadeClose:false,
                                time:0,
                                btn:['Close'],
                                yes:function(newIndex){
                                    layer.close(newIndex);
                                }
                            });
                        }
                    });
                },function(index){
                    layer.close(index);
                });
            }
        });
        $(".undo a").on("click",function(){
            var id = $(this).attr("aria-id");
            if(id == null || typeof(id) == 'undefined' ){
                return false;
            }else{
                layer.alert("撤销后将取消发布状态，你可以在草稿箱中找到该文章,确定执行吗？",{
                    title:"<i class='fa fa-info-circle'></i> 提示",
                    icon:0,
                    btn:['是(Y)','否(N)'],
                    offset:['55px'],
                    shadeClose: false,
                    shade:[0.4,'#fff'],
                    anim: 1
                },function(){
                    var load = layer.load(2,{shade:[0.4,'#f0f0f0']});
                    $.ajax({
                        type:'PUT',
                        url:"${una}/admin/posts/undo/"+id,
                        success:function(){
                            layer.close(load);
                            layer.alert("当前操作已成功执行!",{
                                title:"<i class='fa fa-info'></i> 提示",
                                icon:1,
                                shade:[0.4,"#fff"],
                                shadeClose:false,
                                time:0,
                                btn:['OK'],
                                yes:function(index){
                                    layer.close(index);
                                    window.location.href="${una}/admin/posts/?offset=${data.number+1}";
                                }
                            });
                        },
                        error:function(){
                            layer.close(load);
                            layer.alert("当前操作失败!请稍后再试。",{
                                title:"<i class='fa fa-info'></i> 提示",
                                icon:1,
                                shade:[0.4,"#fff"],
                                shadeClose:false,
                                time:0,
                                btn:['Close'],
                                yes:function(newIndex){
                                    layer.close(newIndex);
                                }
                            });
                        }
                    });
                },function(index){
                    layer.close(index);
                });
            }
        });
    </script>
</body>
</html>