<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="${una}/admin/img/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="${una}/admin/img/favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>修改友链 - UnaBoot</title>
    <link rel="stylesheet" href="${una}/admin/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="${una}/admin/css/font-awesome.css">
    <link rel="stylesheet" href="${una}/admin/css/ionicons.css">
    <link rel="stylesheet" href="${una}/admin/css/adminlte.min.css">
    <link rel="stylesheet" href="${una}/admin/plugins/layer/skin/default/layer.css"/>
    <link rel="stylesheet" href="${una}/admin/css/unaboot-admin.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12 pt-2">
            <form action="" id="link-form">
                <input type="hidden" name="id" id="link-id" value="${link.id}">
                <div class="form-group row">
                    <label class="col-3 col-form-label font-weight-normal text-right" for="name">网站名称<small class="text-danger">(*必填)</small></label>
                    <div class="col-8">
                        <input type="text" class="form-control" name="name" id="name" value="${link.name}"  placeholder="请输入网站名称"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label font-weight-normal text-right" for="domain">网站域名<small class="text-danger">(*必填)</small></label>
                    <div class="col-8">
                        <input type="text" class="form-control" name="domain" id="domain" value="${link.domain}"  placeholder="请输入网站域名"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label font-weight-normal text-right" for="sortId">排序号<small class="text-danger">(*必填)</small></label>
                    <div class="col-8">
                        <input type="number" min="0" step="1" name="sortId" id="sortId" value="${link.sortId}" class="form-control"/>
                    </div>
                </div>
                <div class="fixed-bottom pl-4 pt-2 pr-4 pb-2 bg-gray-light text-right">
                    <button type="button" class="btn btn-sm btn-primary" id="save-data"><i class="fa fa-save"></i> 保存</button>
                    <button type="button" class="btn btn-sm btn-default" id="close"><i class="fa fa-times-circle-o"></i> 取消</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="${una}/admin/plugins/jquery/jquery.min.js"></script>
<script src="${una}/admin/plugins/jquery/jquery.serializejson.js"></script>
<script src="${una}/admin/plugins/jquery/jquery.form.js"></script>
<script src="${una}/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="${una}/admin/js/adminlte.min.js"></script>
<script type="text/javascript" src="${una}/admin/plugins/layer/layer.js"></script>
<script src="${una}/admin/js/jquery.validate.min.js"></script>
<script type="text/javascript">
    var form = $("#link-form");
    form.validate({
        errorPlacement: function errorPlacement(error, element) {
            element.after(error);
        },
        rules:{
            name:{
                required:true
            },
            domain:{
                required:true,
                url:true
            },
            sortId:{
                required:true
            }
        },
        messages:{
            name:{
                required:'请输入网站名称'
            },
            domain: {
                required:'请输入网站域名',
                url:'请输入合法的网站域名'
            },
            sortId:{
                required:'排序号不能为空'
            }
        }
    });
    $("#save-data").on("click",function(){
       var flag =  form.valid();
       if(flag){
           var data = $("#link-form").serialize();
           var id = $("#link-id").val();
           var load = layer.load(2,{shade:[0.4,'#f0f0f0f0']});
           $.ajax({
               type:'POST',
               url:"${una}/admin/link/"+id,
               data:data,
               success:function(){
                   layer.close(load);
                   var index = parent.layer.getFrameIndex(window.name);
                   parent.layer.alert("数据已经成功修改",{title:'系统提示信息',icon:1},function(sub){
                       parent.layer.close(index);
                       parent.layer.close(sub);
                       parent.location.reload();
                   });
               },
               error:function(){
                   layer.close(load);
                   layer.alert("服务器异常",{title:'系统提示',icon:0});
               }
           });
       }
    });
    $("#close").on("click",function(){
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    });
</script>
</body>
</html>
