<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="${una}/admin/img/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="${una}/admin/img/favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>修改任务 - UnaBoot</title>
    <link rel="stylesheet" href="${una}/admin/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="${una}/admin/css/font-awesome.css">
    <link rel="stylesheet" href="${una}/admin/css/ionicons.css">
    <link rel="stylesheet" href="${una}/admin/css/adminlte.min.css">
    <link rel="stylesheet" href="${una}/admin/plugins/layer/skin/default/layer.css"/>
    <link rel="stylesheet" href="${una}/admin/css/unaboot-admin.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12 pt-2">
            <form action="" id="task-form">
                <div class="form-group row">
                    <input type="hidden" name="id" value="${job.jobId}"/>
                    <input type="hidden" name="params" value="${job.params}"/>
                    <input type="hidden" name="beanName" value="${job.beanName}"/>
                    <input type="hidden" name="cronTime" value="${job.cronTime}"/>
                    <label class="col-3 col-form-label font-weight-normal text-right" for="methodName">任务类型<small class="text-danger">(*必填)</small></label>
                    <div class="col-8">
                        <#if job.methodName == "publishPostTask">
                            <input class="form-control" name="methodName" value="${job.methodName}" id="methodName" readonly/>
                        <#else>
                            <select type="text" class="form-control" name="methodName" id="methodName" >
                                <#if methods?? && methods?size gt 0>
                                    <#list methods as method>
                                        <#if method.enName != "publishPostTask">
                                            <#if method.enName == job.methodName>
                                                <option value="${method.enName}" selected>${method.zhName}</option>
                                            <#else>
                                                <option value="${method.enName}">${method.zhName}</option>
                                            </#if>
                                        </#if>
                                    </#list>
                                </#if>
                            </select>
                        </#if>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label font-weight-normal text-right" for="cronExpression">Cron表达式<small class="text-danger">(*必填)</small></label>
                    <div class="col-8">
                        <input type="text" class="form-control" name="cronExpression" id="cronExpression" value="${job.cronExpression}" placeholder="请输入cron表达式">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label font-weight-normal text-right" for="jobState">是否立即生效</label>
                    <div class="col-8">
                        <div class="custom-control custom-radio custom-control-inline pr-4">
                            <input type="radio" id="enabled-on" name="jobState" value="1" <#if job.jobState == true> checked</#if> class="custom-control-input">
                            <label class="custom-control-label font-weight-normal" for="enabled-on">是(Y)</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="enabled-off" name="jobState" value="0" <#if job.jobState == false> checked</#if> class="custom-control-input">
                            <label class="custom-control-label font-weight-normal" for="enabled-off">否(N)</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label font-weight-normal text-right" for="remark">任务简介<small class="text-danger">(*必填)</small></label>
                    <div class="col-8">
                        <textarea class="form-control" rows="2" name="remark" id="remark">${job.remark}</textarea>
                    </div>
                </div>
                <div class="fixed-bottom pl-4 pt-2 pr-4 pb-2 bg-gray-light text-right">
                    <button type="button" class="btn btn-sm btn-primary" id="save-data"><i class="fa fa-save"></i> 保存</button>
                    <button type="button" class="btn btn-sm btn-default" id="close"><i class="fa fa-times-circle-o"></i> 取消</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="${una}/admin/plugins/jquery/jquery.min.js"></script>
<script src="${una}/admin/plugins/jquery/jquery.serializejson.js"></script>
<script src="${una}/admin/plugins/jquery/jquery.form.js"></script>
<script src="${una}/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="${una}/admin/js/adminlte.min.js"></script>
<script type="text/javascript" src="${una}/admin/plugins/layer/layer.js"></script>
<script src="${una}/admin/js/jquery.validate.min.js"></script>
<script type="text/javascript">
    var form = $("#task-form");
    form.validate({
        errorPlacement: function errorPlacement(error, element) {
            element.after(error);
        },
        rules:{
            methodName:{
                required:true
            },
            remark:{
                required:true
            },
            cronExpression:{
                required:true
            }
        },
        messages:{
            methodName:{
                required:'请选择任务类型'
            },
            remark: {
                required:'请填写任务介绍信息'
            },
            cronExpression:{
                required:'cron表达式必须填写'
            }
        }
    });
    $("#save-data").on("click",function(){
       var flag =  form.valid();
       if(flag){
           var data = $("#task-form").serialize();
           var load = layer.load(2,{shade:[0.4,'#f0f0f0f0']});
           $.ajax({
               type:'POST',
               url:"${una}/admin/task/${job.jobId}",
               data:data,
               success:function(){
                   layer.close(load);
                   var index = parent.layer.getFrameIndex(window.name);
                   parent.layer.alert("数据已经成功保存",{title:'系统提示信息',icon:1},function(sub){
                       parent.layer.close(index);
                       parent.layer.close(sub);
                       parent.location.reload();
                   });
               },
               error:function(){
                   layer.close(load);
                   layer.alert("服务器异常",{title:'系统提示',icon:0});
               }
           });
       }
    });
    $("#close").on("click",function(){
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    });
</script>
</body>
</html>
