<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="${una}/admin/img/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="${una}/admin/img/favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>CDN配置 - UnaBoot</title>
    <link rel="stylesheet" href="${una}/admin/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="${una}/admin/css/font-awesome.css">
    <link rel="stylesheet" href="${una}/admin/css/ionicons.css">
    <link rel="stylesheet" href="${una}/admin/css/adminlte.min.css">
    <link rel="stylesheet" href="${una}/admin/plugins/layer/skin/default/layer.css"/>
    <link rel="stylesheet" href="${una}/admin/css/unaboot-admin.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini sidebar-collapse">
<div class="wrapper">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <#include "/admin/common/header.html"/>
    </nav>
    <aside class="main-sidebar sidebar-dark-maroon  elevation-4 ">
        <#include "/admin/common/menu.html"/>
    </aside>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h3 class="m-0 text-dark text-lg">
                            <a href="https://www.qiniu.com" target="_blank">
                                <img src="${una}/admin/img/qiniu.png" style="height:25px;">
                            </a>
                            七牛云设置
                        </h3>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <form action="#" id="cdn-form">
                            <div class="form-group row">
                                <label class="col-3 col-form-label font-weight-normal text-right">存储方式<small class="text-danger">(*必填)</small></label>
                                <div class="col-7">
                                    <div class="custom-control custom-radio custom-control-inline pr-4">
                                        <input type="radio" id="enabled-on" name="enabled" value="1" <#if cdn.enabled == true>checked</#if> class="custom-control-input">
                                        <label class="custom-control-label font-weight-normal" for="enabled-on">CDN存储</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="enabled-off" name="enabled" value="0" <#if cdn.enabled == false>checked</#if> class="custom-control-input">
                                        <label class="custom-control-label font-weight-normal" for="enabled-off">本地存储</label>
                                    </div>
                                </div>
                            </div>
                            <div id="cdn-data" class="hidden">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label font-weight-normal text-right" for="zone">存储中心<small class="text-danger">(*必填)</small></label>
                                    <div class="col-4">
                                        <select type="text" class="form-control" name="zone" id="zone" >
                                            <#list zones as zone>
                                                <#if cdn.zone?? && cdn.zone == zone.code>
                                                    <option value="${zone.code}" selected>${zone.name}</option>
                                                <#else>
                                                    <option value="${zone.code}">${zone.name}</option>
                                                </#if>
                                            </#list>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label font-weight-normal text-right" for="accessKey">AccessKey<small class="text-danger">(*必填)</small></label>
                                    <div class="col-7">
                                        <input type="text" class="form-control" value="${cdn.accessKey}" name="accessKey" id="accessKey" placeholder="七牛云AccessKey..."/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label font-weight-normal text-right" for="secretKey">SecretKey<small class="text-danger">(*必填)</small></label>
                                    <div class="col-7">
                                        <input type="text" class="form-control" value="${cdn.secretKey}" name="secretKey" id="secretKey" placeholder="七牛云SecretKey..."/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label font-weight-normal text-right" for="bucket">Bucket<small class="text-gray">(*选填)</small></label>
                                    <div class="col-7">
                                        <input type="text" class="form-control" name="bucket" value="${cdn.bucket}" id="bucket" placeholder="七牛云Bucket..."/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label font-weight-normal text-right" for="domain">Domain<small class="text-danger">(*必填)</small></label>
                                    <div class="col-7">
                                        <input type="text" class="form-control" name="domain" value="${cdn.domain}" id="domain" placeholder="七牛云自定义域名"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12 text-center">
                                    <button type="button" id="submit-form" class="btn btn-primary">保存配置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <#include "/admin/common/footer.html"/>
</div>
<script src="${una}/admin/plugins/jquery/jquery.min.js"></script>
<script src="${una}/admin/plugins/jquery/jquery.serializejson.js"></script>
<script src="${una}/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="${una}/admin/js/adminlte.min.js"></script>
<script type="text/javascript" src="${una}/admin/plugins/layer/layer.js"></script>
<script src="${una}/admin/js/jquery.validate.min.js"></script>
<script type="text/javascript">
    var form = $("#cdn-form");
    form.validate({
        errorPlacement: function errorPlacement(error, element) {
            element.after(error);
        },
        rules:{
            zone:{
                required:true
            },
            domain:{
                required:true,
                url:true
            },
            accessKey:{
                required:true
            },
            secretKey:{
                required:true
            },
            bucket:{
                required:true
            }
        },
        messages:{
            zone:{
                required:'请选择对应的存储中心'
            },
            domain: {
                required:'请输入网站域名',
                url:'域名格式不正确'
            },
            accessKey: {
                required:'请输入七牛云AccessKey'
            },
            secretKey:{
                required:'请输入七牛云SecretKey'
            },
            bucket:{
                required:'请输入七牛云Bucket字符串'
            }
        }
    });
    initData(true);
    $("#submit-form").on("click",function(){
        var enabled = $("input:radio[name='enabled']:checked").val();
        if(enabled == 0){
            layer.confirm("你确定使用本地存储吗？",{
                title:'系统提示',
                icon:1,
                btn:['是(Y)','否(N)']
            },function(index){
                submitForm(false);
                layer.close(index);
            },function(index){
                layer.close(index);
            });
        }else{
            submitForm(true);
        }
    });

    function submitForm(validate){
        var data = $("#cdn-form").serialize();
        var flag = false;
        if(validate){
            flag = form.valid();
        }else{
            flag = true;
        }
        if(flag){
            var load = layer.load(2,{shade:[0.4,'#f0f0f0f0']});
            $.ajax({
                type:'POST',
                url:'${una}/admin/setting/cdn',
                data:data,
                success:function(){
                    layer.close(load);
                    layer.alert("数据已经成功保存",{title:'系统提示信息',icon:1});
                },
                error:function(){
                    layer.close(load);
                    layer.alert("服务器异常",{title:'系统提示信息',icon:0});
                }
            });
        }
    }

    $("input[name='enabled']").on("click",function(){
       initData(false);
    });

    function initData(first){
        var value = $("input:radio[name='enabled']:checked").val();
        if(value == 0){
            if(first){
                $("#cdn-data").hide();
            }else{
                $("#cdn-data").slideUp();
            }

        }else{
            if(first){
                $("#cdn-data").show();
            }else{
                $("#cdn-data").slideDown();
            }

        }
    }
</script>
</body>
</html>
