<a href="${una}/admin/index" class="brand-link" style="padding-left: 0;">
    <img src="${una}/ub-admin/img/logo-gray.svg"alt="UnaBoot" class="brand-image img-fluid img-circle" style="width: 33px;">
    <span class="brand-text font-weight-light">UnaBoot</span>
</a>
<div class="sidebar ">
    <nav class="mt-2">
        <ul id="admin-menu" class="nav nav-pills nav-sidebar flex-column nav-legacy text-sm" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item has-treeview menu-open">
                <a href="${una}/admin/index" class="nav-link active">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>仪表盘</p>
                </a>
            </li>
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa fa-users"></i>
                    <p>
                        用户
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <@shiro.hasRole name="admin">
                        <li class="nav-item">
                            <a href="${una}/admin/users/" class="nav-link">
                                <i class="far fa fa-navicon nav-icon"></i>
                                <p>所有用户</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="${una}/admin/users/create" class="nav-link">
                                <i class="far fa fa-plus-circle nav-icon"></i>
                                <p>新增用户</p>
                            </a>
                        </li>
                    </@shiro.hasRole>
                    <li class="nav-item">
                        <a href="${una}/admin/users/profile" class="nav-link">
                            <i class="far fa fa-user nav-icon"></i>
                            <p>个人信息</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-file-word"></i>
                    <p>
                        文章
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <@shiro.hasAnyRoles name="admin,editor">
                        <li class="nav-item">
                            <a href="${una}/admin/posts/" class="nav-link">
                                <i class="far fa fa-navicon nav-icon"></i>
                                <p>所有文章</p>
                            </a>
                        </li>
                    </@shiro.hasAnyRoles>
                    <@shiro.hasAnyRoles name="admin,editor">
                        <li class="nav-item">
                            <a href="${una}/admin/posts/create" class="nav-link">
                                <i class="far fa fa-plus-circle nav-icon"></i>
                                <p>撰写文章</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="${una}/admin/posts/trash" class="nav-link">
                                <i class="far fa fa-trash-o nav-icon"></i>
                                <p>草稿箱</p>
                            </a>
                        </li>
                    </@shiro.hasAnyRoles>
                </ul>
            </li>
            <@shiro.hasRole name="admin">
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-sliders"></i>
                        <p>
                            设置
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="${una}/admin/settings/general" class="nav-link">
                                <i class="far fa fa-cog nav-icon"></i>
                                <p>常规</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="${una}/admin/themes/" class="nav-link">
                                <i class="far fa fa-chrome nav-icon"></i>
                                <p>外观</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="${una}/admin/categories/" class="nav-link">
                                <i class="far fa fa-th-large nav-icon"></i>
                                <p>栏目</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="${una}/admin/links/" class="nav-link">
                                <i class="far fa fa-link nav-icon"></i>
                                <p>链接</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="${una}/admin/tags/" class="nav-link">
                                <i class="far fa fa-tag nav-icon"></i>
                                <p>标签</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="${una}/admin/settings/qiniu" class="nav-link">
                                <i class="far fa fa-server nav-icon"></i>
                                <p>存储</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="${una}/admin/settings/gitalk" class="nav-link">
                                <i class="far fa fa-comments-o nav-icon"></i>
                                <p>评论</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </@shiro.hasRole>
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-cogs"></i>
                    <p>
                        系统
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <@shiro.hasRole name="admin">
                        <li class="nav-item">
                            <a href="${una}/admin/schedules/" class="nav-link">
                                <i class="far fa fa-spinner nav-icon"></i>
                                <p>计划</p>
                            </a>
                        </li>
                    </@shiro.hasRole>
                    <li class="nav-item">
                        <a href="${una}/admin/datasource" class="nav-link">
                            <i class="far fa fa-database nav-icon"></i>
                            <p>数据源</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="${una}/admin/apis" class="nav-link">
                            <i class="far fa fa-file-word-o nav-icon"></i>
                            <p>文档</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>