<!-- Brand Logo -->
<a href="${una}/admin/index" class="brand-link">
    <img src="${una}/admin/img/logo-min.png" alt="UnaBoot Logo" class="brand-image img-circle elevation-2">
    <span class="brand-text font-weight-light">UnaBoot Pro</span>
</a>
<div class="sidebar ">
    <nav class="mt-2">
        <ul id="una-boot-menu" class="nav nav-pills nav-sidebar flex-column nav-legacy" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item has-treeview">
                <a href="${una}/admin/index" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-pie-chart"></i>
                    <p>
                        Contents
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="${una}/admin/category/index" class="nav-link">
                            <i class="far fa fa-list-ol nav-icon"></i>
                            <p>Category Panel</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="${una}/admin/post/index" class="nav-link">
                            <i class="far fas fa-file-word nav-icon"></i>
                            <p>Blog Panel</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="${una}/admin/theme/index" class="nav-link">
                            <i class="fas fa-file-archive-o nav-icon"></i>
                            <p>Theme Panel</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="${una}/admin/link/index" class="nav-link">
                            <i class="nav-icon fas fa-link"></i>
                            <p>Links Panel</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="${una}/admin/tag/index" class="nav-link">
                            <i class="nav-icon fas fa-tags"></i>
                            <p>Tags Panel</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-television"></i>
                            <p>Advances Panel</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-sliders"></i>
                    <p>
                        Settings
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="${una}/admin/setting/general" class="nav-link">
                            <i class="far fa fa-wrench nav-icon"></i>
                            <p>General Panel</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="${una}/admin/setting/cdn" class="nav-link">
                            <i class="far fa fa-server nav-icon"></i>
                            <p>Storage Panel</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="${una}/admin/setting/gitalk" class="nav-link">
                            <i class="far fa fa-comments-o nav-icon"></i>
                            <p>Comment Panel</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-cogs"></i>
                    <p>
                        System & Documents
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="${una}/admin/task/index" class="nav-link">
                            <i class="nav-icon fas fa-hourglass-half"></i>
                            <p>
                                Jobs Panel
                                <span class="right badge badge-danger">New</span>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="${una}/admin/swagger" class="nav-link active">
                            <i class="nav-icon fas fa-files-o"></i>
                            <p>
                                APIs Panel
                                <span class="right badge badge-danger">New</span>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="${una}/admin/setting/logging" class="nav-link">
                            <i class="far fa fa-code nav-icon"></i>
                            <p>System Logs <span class="right badge badge-danger">New</span></p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="${una}/admin/setting/druid" class="nav-link">
                            <i class="far fa fa-database nav-icon"></i>
                            <p>Druid SQL<span class="right badge badge-danger">New</span></p>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
</div>