html,body{
    height: 100vh;
    margin: 0;
    padding: 0;
}
body{
    background: #f1f1f1;
    min-width: 0;
    color: #444444;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px;
    line-height: 1.4;
}
a{
    color: #0073aa;
    transition-property: border, background, color;
    transition-duration: .05s;
    transition-timing-function: ease-in-out;
}
a {
    outline: 0;
}

a:hover,
a:active {
    color: #007bff;
}

a:focus {
    color: #124964;
    box-shadow:
            0 0 0 1px #5b9dd9,
            0 0 2px 1px rgba(30, 140, 190, 0.8);
}

p {
    line-height: 1.5;
}
.background-box{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -3;
    overflow: hidden;
    opacity: .618;
    -moz-opacity: .618;
    filter:alpha(opacity=61.8);
}
.login-box{
    position: absolute;
    top: 38.2%;
    left: 50%;
    width: 382px;
    transform: translate(-50%,-38.2%);
}
.login-box img.login-img{
    width: 120px;
    height: 120px;
    display: block;
    margin: 1px auto;
}
.login-box .message,.login-box .success,.login-box #login-error{
    border-left: 4px solid #00a0d2;
    padding: 12px;
    margin-left: 0;
    margin-bottom: 20px;
    background: #fbfbfb;
    box-shadow: 1px 0 1px rgba(0,0,0,.1);
}
.login-box .message._hidden,.login-box .success._hidden,.login-box #login-error._hidden{
    display: none;
}
.login-box .message{
    border-left-color: #00a0d2;
}
.login-box #login-error{
    border-left-color: #dc3232;
}

.login-box .captcha{
    width: 40%;
    height: 38px;
    border: 1px solid #ced4da;
    cursor: pointer;
}
.copyright{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 200px;
    transform: translateX(-50%);
    text-align: center;
    padding: 5px;
    font-size: 18px;
    font-weight: normal;
    text-shadow: 3px 3px 1px rgba(0,0,0,.1);
}
.copyright a{
    color: #555d66;
}
.copyright a:hover{
    color: #007bff;
}
.login-box .back-home{
    margin: 16px 0;
}
.login-box .back-home a{
    text-decoration: none;
    color: #555d66;
}
.login-box .back-home a:hover{
    color: #007bff;
}