<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="${una}/admin/img/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="${una}/admin/img/favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>模板管理 - UnaBoot</title>
    <link rel="stylesheet" href="${una}/admin/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="${una}/admin/css/font-awesome.css">
    <link rel="stylesheet" href="${una}/admin/css/ionicons.css">
    <link rel="stylesheet" href="${una}/admin/css/adminlte.min.css">
    <link rel="stylesheet" href="${una}/admin/plugins/zTree_v3/css/zTreeStyle/zTreeStyle.css" />
    <link rel="stylesheet" href="${una}/admin/plugins/layer/skin/default/layer.css"/>
    <link rel="stylesheet" href="${una}/admin/css/unaboot-admin.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
        .tpl-files .ztree li span.button.switch{
            display: none;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini sidebar-collapse">
<div class="wrapper">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <#include "admin/common/header.html"/>
    </nav>
    <aside class="main-sidebar sidebar-dark-maroon  elevation-4 ">
        <#include "admin/common/menu.html"/>
    </aside>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h3 class="m-0 text-dark text-lg">模板管理</h3>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body  p-0">
                                <div class="channel-left">
                                    <div class="header p-4 text-center mb-2">
                                        <button class="btn btn-primary btn-sm mr-2" id="upload-theme"><i class="fa fa-upload"></i> 上传模板</button>
                                        <button class="btn btn-success btn-sm disabled"><i class="fa fa-download"></i> 下载模板</button>
                                    </div>
                                    <div class="channel-tree pl-4 pr-4 pt-0 tpl-files">
                                        <ul id="channel-tree" class="ztree"></ul>
                                    </div>
                                </div>
                                <div class="channel-right">
                                    <div class="tools pl-4 mt-4">
                                        <button class="btn btn-success disabled btn-sm mr-2">
                                            <i class="fa fa-files-o"></i> 新建模板
                                        </button>
                                        <button class="btn btn-info disabled btn-sm mr-2">
                                            <i class="fa fa-folder"></i> 新建目录
                                        </button>
                                        <button class="btn btn-danger disabled btn-sm">
                                            <i class="fa fa-trash"></i> 删除
                                        </button>
                                    </div>
                                    <div class="data-list pl-4 mt-4">
                                        <div id="data-table" style="max-height: 640px;overflow-y: auto;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <#include "admin/common/footer.html"/>
</div>
<script src="${una}/admin/plugins/jquery/jquery.min.js"></script>
<script src="${una}/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="${una}/admin/js/adminlte.min.js"></script>
<script type="text/javascript" src="${una}/admin/plugins/zTree_v3/js/jquery.ztree.all.js"></script>
<script type="text/javascript" src="${una}/admin/js/dom-resize.js"></script>
<script type="text/javascript" src="${una}/admin/plugins/layer/layer.js"></script>
<script type="text/javascript">
    $(function(){
        var ztreeObj;
        var settings = {
            async:{
                enable:true,
                autoParam:['id'],
                type:'get',
                url:'${una}/admin/theme/treeNodes'
            },
            callback:{
                onAsyncSuccess:expandAll,
                onClick:onClick,
            },
            data:{
                simpleData:{
                    enable:true,
                    idKey:'id',
                    pIdKey:'pid',
                    rootPid:-1,
                },
                key:{
                    isParent:'folder'
                }
            },
            view:{
                showIcon:true,
                showLine:false
            }
        }
        ztreeObj = $.fn.zTree.init($("#channel-tree"),settings,[]);
        function expandAll(){
            ztreeObj.expandAll(true);
        }
        function onClick(event,treeId,treeNode){
            console.log("event:"+event+",treeId:"+treeId+",treeNode:"+treeNode.id);
            var folder = treeNode.id;
            var reg = /\.[^\.]+$/;
            var matches = reg.exec(folder);
            if(!matches){
                $.ajax({
                    type:'get',
                    url:'${una}/admin/theme/subFiles',
                    data:{
                        pid:folder
                    },
                    success:function(page){
                      $("#data-table").html(page);
                    }
                })
            }
        }
        computerWidth();
        initDataTable();
        $(".container-fluid").resize(function(){
            computerWidth();
        });
        function computerWidth(){
            var channel_left_width = $(".channel-left").width();
            var content_wrapper_width = $(".container-fluid").width();
            $(".channel-right").width(content_wrapper_width - channel_left_width-30);
        }
        function initDataTable(){
            $.ajax({
                type:'get',
                url:'${una}/admin/theme/subFiles',
                success:function(page){
                    $("#data-table").html(page);
                }
            });
        }

        $("#upload-theme").on("click",function(){
            layer.open({
                type:2,
                title:"<i class='fa fa-upload'>上传新的主题文件</i>",
                shadeClose:false,
                shade:0.4,
                offset:['100px'],
                area:['500px','300px'],
                content:'${una}/admin/theme/upload',
                resize:false,
                anim:1
            })
        });
        $(document).on("click",".edit-file",function(){
            var id = $(this).attr("data-id");
            id = id.replace(/\\/g,'/');
            var index =layer.open({
                skin:"",
                type:2,
                title:"<span class='edit-file-title'><i class='fa fa-folder-open text-yellow'></i>.../"+id+"</span>",
                shadeClose:false,
                shade:0.4,
                offset:['55px'],
                area:['70%','88%'],
                content:'${una}/admin/theme/editor?path='+id,
                resize:false,
                anim:1,
                maxmin:true,
                move:false,
                success:function(layero,index){
                    var iframeWindow = window[layero.find('iframe')[0]['name']];
                    var height = layero.find('iframe')[0]['clientHeight'];
                    iframeWindow.setTextareaHeight(height-47);
                },
                full:function(layero){
                    var iframeWindow = window[layero.find('iframe')[0]['name']];
                    var height = layero.find('iframe')[0]['clientHeight'];
                    iframeWindow.setTextareaHeight(height-50);
                },
                restore:function(layero){
                    var iframeWindow = window[layero.find('iframe')[0]['name']];
                    var height = layero.find('iframe')[0]['clientHeight'];
                    iframeWindow.setTextareaHeight(height-50);
                }
            });
        });
       /* $(".edit-file").on("click",function(){
            var index =layer.open({
                skin:"",
                type:2,
                title:"<span class='edit-file-title'><i class='fa fa-folder-open text-yellow'></i>.../themes/default/index.html</span>",
                shadeClose:false,
                shade:0.4,
                offset:['55px'],
                area:['70%','88%'],
                content:'./edit-file.html',
                resize:false,
                anim:1,
                maxmin:true,
                move:false,
                end:function(){
                    location.reload();
                },
                success:function(layero,index){
                    var iframeWindow = window[layero.find('iframe')[0]['name']];
                    var height = layero.find('iframe')[0]['clientHeight'];
                    iframeWindow.setTextareaHeight(height-47);
                },
                full:function(layero){
                    var iframeWindow = window[layero.find('iframe')[0]['name']];
                    var height = layero.find('iframe')[0]['clientHeight'];
                    iframeWindow.setTextareaHeight(height-50);
                },
                restore:function(layero){
                    var iframeWindow = window[layero.find('iframe')[0]['name']];
                    var height = layero.find('iframe')[0]['clientHeight'];
                    iframeWindow.setTextareaHeight(height-50);
                }
            });
        });*/
    });
</script>
</body>
</html>
